body{
    background-color: azure;
}
nav{
                        margin-top: 25px;
                        margin-right: 10px;
                        float: right;
                        width: 85%;
                        display: flex;
                        justify-content: space-between;
                        background-color: #333;
                        height: 44px;
                        font-family: 'Lobster', cursive;
                        clear: both;
                   } 
                   
nav ul, .register{
                        list-style: none;
                        padding: 0;margin: 0;
                        overflow: hidden;
                    }
nav li{
                        float: left;
                        
                    }
li a{color: white;
                        display: block;
                        text-align: center;
                        padding: 14px 25px;
                        text-decoration: none;
                        
                    }
li a:hover{
                        background-color: rgb(194, 145, 145);
                        cursor: pointer;
                    }
.table{
                    display: block;
                    
                    margin:auto;  
                    width: 80%;
                    }
.table1{
                        width: 100%;
                        border: 1px solid rgb(6, 24, 104);
                        border-collapse:collapse;
                        margin-bottom: 50px;
                    }
td, th   {              border: 2px solid grey; 
                        padding: 5px;
                        text-align: center;
                    }
div h1{
                        color:rgb(82, 84, 192);
                        text-align: center;
                        
                    } 
p{                      margin-left: 38%;
                        text-align: center;
                        width: 60%;
                        margin: auto;
                        margin-bottom: 15px;
                        }
.middle{                display: flex;
                        justify-content: space-between;
                        margin-bottom: 50px;
 
                        }
aside{                  
                        margin-right: 18px;
                        width: 30%;
                        border: 2px solid grey;
                        border-radius: 15px;
                    } 
 section{
                        margin-left: 18px;
                        border: 2px solid grey;
                        border-radius: 15px;
                        width: 30%;
                    } 
 .cat{
                        display: block;
                        margin: auto;
                        width: 90%;
                        margin: 15px;
                        border-radius: 40px;
                    }
footer{                 
                       margin: 50px;
                       width: 100%;
                       
                    }  
footer a{
                      text-decoration: none;
                      color: black;
                      
}
.lists{
    display: flex;
    
}
.video{              display: block;
                     margin: auto;
    

}
            
                
                